<div style="max-width: 400px; margin: 0 auto; padding: 10% 15px;">
	<div class="panel panel-default no-margin-bottom">
		<div class="panel-body">
			<h1>Um site!</h1>
			<a href="<%- root %>/login">Login</a>
		</div>
	</div>
</div>
